.custom-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
    width: 5px;
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #19857b;
    border-radius: 20px;
}

.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: unset
}

.custom-scroll::scrollbar:vertical {
    width: 5px;
}

.custom-scroll::scrollbar-thumb {
    background-color: #19857b;
    border-radius: 20px;
}